@font-face {
  font-family: regular; /* Гарнитура шрифта */
  src: url(Rubik-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: head; /* Гарнитура шрифта */
  src: url(Rubik-Bold.ttf); /* Путь к файлу со шрифтом */
}

html {
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

body {
  margin: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 5550px;
}

#content-welcome {
  position: absolute;
  margin-top: 140px;
  height: 600px;
  width: 1200px;
  left: 200px;
  background-image: url('static/content-welcome.png');
}

.header {
  background-color: #F9E3AC;
  position: fixed;  
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;  
  z-index: 1000;
}

.header > img {
  position: absolute;
  left: 32px;
  top: 15px;
  width: 346px;
  height: 30px;
}

.header > .buttons {
  position: absolute;
  display: grid;
  grid-template-columns: 20% 22% 37% 20%;
  width: 686px;
  height: 7.5px;
  left: 605px;
  top: 26px;
}

.header > .circles {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 105px;
  height: 35px;
  left: calc(50% - 35px/2 + 654.5px);
  top: 13px;
}

.header > .circles > img {
  width: 35px;
  height: 35px;
}


.header > .circles > .circle1 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 1437px;
  top: 13px;
}

.header > .circles > .circle2 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 1507px;
  top: 13px;
}


.header > .buttons > .button {
  height: 7.5px;
  font-family: regular;
  font-size: 16px;
  display: flex;
  align-items: center;
}

dual-block1 {
  position: absolute;
  top: 900px;
  left: 200px;
  background-image: url('static/dual-block1.png');
  background-color: #e5e5e5;
  width: 550px;
  height: 150px;
}

dual-block2 {
  position: absolute;
  top: 900px;
  left: 850px;
  background-image: url('static/dual-block2.png');
  width: 550px;
  height: 150px;
}

.separator1 {
  position: absolute;
  background-color: #e5e5e5;
  width: 100%;
  height: 30px;
  top: 1123px;
}

.news-text {
  position: absolute;
  font-family: head;
  color: #3A3232;
  font-size: 30px;
  left: 150px;
  top: 1250px;
}

.news-text-small {
  position: absolute;
  font-family: head;
  font-size: 14px;
  left: 535px;
  top: 1265px;
  color: rgba(58, 50, 50, 0.7);
}

.news-line1 {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 150px;
  top: 1293px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.news-line2 {
  position: absolute;
  width: 650px;
  height: 0px;
  border: 1px solid rgba(58, 50, 50, 0.9);
  left: 750px;
  top: 1293px;
}

.last-news-text {
  position: absolute;
  left: 975px;
  top: 1260px;
  font-family: head;
  font-size: 20px;
  color: rgba(58, 50, 50, 0.9);
}

.separator2 {
  position: absolute;
  background-color: x`;
  width: 100%;
  height: 30px;
  top: 2020px;
}

.olymiapds-text {
  position: absolute;
  font-family: head;
  font-size: 30px;
  color: rgba(58, 50, 50, 0.9);
  top: 2150px;
  left: 150px;
}

.to-scroller {
  position: absolute;
  font-family: head;
  font-size: 14px;
  color: rgba(58, 50, 50, 0.7);
  left: 1260px;
  top: 2165px;
}

.olympiads-line1 {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 150px;
  top: 2196px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.olympiads-text2 {
  position: absolute;
  font-family: head;
  font-size: 20px;
  color: rgba(58, 50, 50, 0.9);
  left: 1070px;
  top: 2255px;
}

.olympiads-line2 {
  position: absolute;
  width: 350px;
  height: 0px;
  left: 1050px;
  top: 2285px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.olympiads-text3 {
  position: absolute;
  font-family: head;
  font-size: 30px;
  color: rgba(58, 50, 50, 0.9);
  left: 750px;
  top: 2560px;
}

.olympiads-line3 {
  position: absolute;
  width: 650px;
  height: 0px;
  left: 750px;
  top: 2605px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.to-calendar1 {
  position: absolute;
  font-size: 13px;
  font-family: head;
  color: rgba(58, 50, 50, 0.7);
  left: 1307px;
  top: 2577px;
}

.separator3 {
  position: absolute;
  background-color: #e5e5e5;
  width: 100%;
  height: 30px;
  top: 2920px;
}

.enrollment-text1 {
  position: absolute;
  font-family: head;
  font-size: 30px;
  left: 150px;
  top: 3084px;
  color: rgba(58, 50, 50, 0.9);
}

.enrollment-text2 {
  position: absolute;
  font-family: head;
  font-size: 14px;
  left: 1262px;
  top: 3099px;
  color: rgba(58, 50, 50, 0.7);
}

.enrollment-line1 {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 150px;
  top: 3130px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.enrollment-text3 {
  position: absolute;
  font-family: head;
  font-size: 30px;
  left: 750px;
  top: 3494px;
  color: rgba(58, 50, 50, 0.9);
}

.to-calendar2 {
  position: absolute;
  font-size: 13px;
  font-family: head;
  color: rgba(58, 50, 50, 0.7);
  left: 1307px;
  top: 3511px;
}

.enrollment-line3 {
  position: absolute;
  width: 650px;
  height: 0px;
  left: 750px;
  top: 3538px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.separator4 {
  position: absolute;
  background-color: #e5e5e5;
  width: 100%;
  height: 30px;
  top: 3854px;
}

.materials-text1 {
  position: absolute;
  font-size: 30px;
  font-family: head;
  color: rgba(58, 50, 50, 0.9);
  left: 150px;
  top: 3950px;
}

.materials-text2 {
  position: absolute;
  font-size: 14px;
  font-family: head;
  color: rgba(58, 50, 50, 0.7);
  left: 1269px;
  top: 3965px;
}

.materials-line {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 150px;
  top: 3996px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

.separator5 {
  position: absolute;
  background-color: #e5e5e5;
  width: 100%;
  height: 30px;
  top: 4720px;
}

.about-text {
  position: absolute;
  font-family: head;
  font-size: 30px;
  color: rgba(58, 50, 50, 0.9);
  left: 150px;
  top: 4826px;
}

.about-line {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 150px;
  top: 4864px;
  border: 1px solid rgba(58, 50, 50, 0.9);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  mix-blend-mode: normal;
  position: absolute;
  top: 5650px;
  left: 0px;
  width: 100%;
  height: 150px;
  background-color: #4A4740;
}

.footer > img {
  position: absolute;
  width: 300px;
  height: 26px;
  left: 32px;
  bottom: 91px;
}

.footer > .text {
  position: absolute;
  color: white;
  bottom: 34px;
  left: 32px;
  font-size: 10pt;
}